#leaderboard-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 0 auto;
}

.leaderboard-entry {
    display: flex;
    align-items: center;
    background-color: #fee2e2;
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    gap: 1rem;
    width: 1070px;
}

.player-name {
    width: 200px;
    display: block;
    font-weight: 700;
    font-size: 1.2rem;
    color: #1f2937;
}

.entry-date {
    display: block;
    color: #6b7280;
    font-size: 0.75rem;
    margin-top: 2px;
}

.player-country {
    color: #374151;
    font-weight: 500;
    width: 6rem;
    text-align: center;
    margin-left: 10rem;
}

.player-score {
    font-size: 1.25rem;
    font-weight: 700;
    color: #111827;
    width: 4rem;
    margin-left: 10rem;
    text-align: center;
}

.action-buttons {
    display: flex;
    align-items: center;
    margin-left: auto;
    gap: 0.5rem;
}

.btn {
    border: none;
    cursor: pointer;
    color: black;
    width: 40px;
    height: 40px;
    border-radius: 9999px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.2s;
    background-color: white;
}

.remove-btn {
    background-color: #ed6161;
    padding: 0.5rem;
    border-radius: 99px;
}

.remove-btn:hover {
    background-color: #dc2626;
}

.score-btn {
    background-color: #3b82f6;
    font-weight: 700;
    width: 2.5rem;
    height: 2.5rem;
    padding: 0.5rem;
}

.score-btn:hover {
    background-color: #2563eb;
}